---
const { pageTitle, pageDate, contentData } = Astro.props;
---

<div class="py-6">
    <div class="flex flex-col mb-4">
        <h2 class="text-2xl font-bold">{pageTitle}</h2>
        <time date={contentData.date} class="text-sm text-neutral-700"
            >{pageDate}</time
        >
    </div>
    <div class="flex flex-col gap-10 sm:gap-6">
        {
            contentData.content.map((post) => (
                <div class="flex flex-col sm:grid sm:grid-cols-[200px_1fr] gap-4">
                    <a
                        href={post.link}
                        data-post="true"
                        data-posthog-title={post.title}
                    >
                        <div class="relative">
                            <img
                                src={post.image}
                                width="400"
                                height="300"
                                alt=""
                                class="w-full rounded-lg vertical-align-middle"
                            />
                            <div class="absolute bottom-1 right-1 text-white px-1 py-1 bg-black/70 rounded-sm text-xs font-semibold">
                                {post.duration}
                            </div>
                        </div>
                    </a>
                    <div class="flex flex-col gap-1 py-1">
                        <a
                            href={post.link}
                            data-post="true"
                            data-posthog-title={post.title}
                            class="text-lg font-semibold hover:underline"
                        >
                            {post.title}
                        </a>
                        <p class="text-sm text-neutral-700">
                            {post.description}
                        </p>
                    </div>
                </div>
            ))
        }
    </div>
</div>

<script>
    const posts = document.querySelectorAll("[data-post='true']");
    posts.forEach((post) => {
        const postTitle = post.getAttribute("data-posthog-title");
        console.log("HELLO", postTitle);
        post.addEventListener("click", () => {
            window.posthog.capture("clicked_on_video_link", {
                title: postTitle,
            });
        });
    });
</script>
